<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Car Rental{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('build/app.css') }}">
        {% endblock %}

        {% block javascripts %}
            <script src="{{ asset('build/app.js') }}"></script>
        {% endblock %}
    </head>
    <body class="bg-white dark:bg-gray-800">
    <header>
        <nav class="bg-white border-gray-200 px-4 lg:px-6 py-2.5 dark:bg-gray-800">
            <div class="flex flex-wrap items-center justify-between max-w-screen-xl mx-auto">
                <a href="/" class="flex items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 130 84" stroke-width="1" stroke="currentColor" class="w-16 h-16 dark:text-white">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M 62 2 C 72.92 2.74 82.57 6.7 91.16 13.98 C 93.04 15.57 95.92 18.41 97.72 20.44 C 98.91 21.77 100.13 23.26 101.86 25.47 C 104.82 29.24 106.87 31.03 109.2 31.88 C 109.67 32.04 111.07 32.41 112.33 32.69 C 115.73 33.44 117.14 33.9 119.31 34.93 C 121.6 36.03 122.99 37.01 124.48 38.57 C 126.93 41.15 128.42 44.7 129 49.39 C 129.37 52.37 129.47 56.4 129.2 58.17 C 128.59 62.3 126.04 65.67 121.97 67.71 L 121.02 68.19 L 119.21 68.19 C 118.21 68.19 117.37 68.17 117.34 68.14 C 117.31 68.11 117.32 67.88 117.37 67.64 C 117.59 66.46 117.67 64.55 117.57 63.16 C 117.32 60.02 116.74 57.86 115.41 55.14 C 114.26 52.77 112.99 51.03 111.1 49.19 C 107.8 45.99 103.85 44.03 99.26 43.32 C 97.68 43.08 94.53 43.08 93.01 43.32 C 86.51 44.38 81.23 47.88 77.8 53.42 C 75.4 57.28 74.28 62.31 74.81 66.74 C 74.89 67.4 74.96 68 74.96 68.06 C 74.96 68.16 72.39 68.19 62.46 68.19 C 55.58 68.19 49.96 68.18 49.96 68.16 C 49.96 68.15 50.03 67.64 50.11 67.04 C 50.28 65.76 50.3 63.53 50.16 62.24 C 49.51 56.44 46.54 51.14 41.93 47.57 C 35.49 42.59 26.76 41.7 19.41 45.28 C 12.86 48.47 8.42 54.66 7.5 61.89 C 7.37 62.96 7.35 63.63 7.4 65.14 C 7.44 66.18 7.49 67.22 7.53 67.44 L 7.59 67.84 L 7.05 67.38 C 6.75 67.13 6.17 66.53 5.75 66.06 C 2.49 62.39 0.95 57.23 1.46 51.74 C 1.75 48.7 2.68 45.98 4.23 43.65 C 4.97 42.54 6.45 40.94 7.31 40.33 C 7.84 39.96 7.86 39.92 7.82 39.56 C 7.66 38.15 8.36 34.8 9.62 30.95 C 10.37 28.65 10.64 28 11.6 26.14 C 13.68 22.08 16.77 17.88 21.39 12.81 C 23.2 10.82 24.59 9.83 27.74 8.25 C 34.85 4.69 44.1 2.56 54.96 1.99 C 57.17 1.88 60.24 1.88 62 2 Z M 60.31 10.32 C 58.26 10.9 56.51 12.36 55.61 14.23 C 54.94 15.64 54.93 15.73 54.89 20.09 C 54.84 24.33 54.96 27.29 55.21 28.49 C 55.52 29.99 56.24 31.08 57.16 31.48 L 57.65 31.69 L 73.28 31.67 L 88.91 31.64 L 89.48 31.41 C 90.1 31.16 90.98 30.43 91.22 29.97 C 91.51 29.41 91.58 28.67 91.41 27.87 C 91.11 26.44 90.16 24.8 88.32 22.55 C 82.3 15.2 77.02 11.53 70.95 10.48 C 68.99 10.15 68.3 10.11 64.51 10.13 C 61.48 10.15 60.81 10.18 60.31 10.32 Z M 39.31 11.33 C 37.52 11.77 34.89 12.67 33.88 13.18 C 32.09 14.08 29.88 15.8 28.45 17.4 C 25.29 20.95 22.97 25.6 22.95 28.44 C 22.94 29.41 23.07 29.93 23.45 30.46 C 23.84 30.99 24.25 31.28 24.98 31.5 C 25.55 31.68 26.08 31.69 34.84 31.69 C 43.95 31.69 44.1 31.69 44.52 31.49 C 45.03 31.24 45.4 30.72 45.69 29.87 C 45.9 29.25 45.9 29.08 45.94 22.3 C 45.97 14.92 45.92 13.42 45.56 12.47 C 45.28 11.72 44.75 11.23 44.09 11.13 C 43.83 11.09 43.52 11.02 43.41 10.98 C 43.3 10.93 42.65 10.91 41.96 10.93 C 40.98 10.97 40.41 11.05 39.31 11.33 Z M 97.88 46.7 C 104.92 47.38 110.93 52.17 113.16 58.87 C 113.8 60.8 113.97 61.78 114.03 63.99 C 114.12 67.25 113.64 69.55 112.31 72.35 C 110.05 77.06 105.63 80.66 100.55 81.93 C 91.38 84.23 82.05 79.1 79.11 70.14 C 78.13 67.18 77.95 64.01 78.57 60.95 C 80.37 52.02 88.78 45.82 97.88 46.7 Z M 93.86 56.39 C 93.45 56.51 92.73 56.8 92.26 57.04 C 90.58 57.92 89.38 59.15 88.56 60.84 C 87.97 62.07 87.76 62.84 87.69 64.14 C 87.46 68.37 90.51 72.17 94.73 72.9 C 95.11 72.97 95.9 73 96.6 72.97 C 97.65 72.93 97.95 72.87 98.83 72.57 C 101.06 71.81 102.66 70.42 103.71 68.34 C 104.36 67.04 104.58 66.12 104.59 64.59 C 104.61 62.39 103.99 60.72 102.52 58.95 C 101.43 57.66 99.4 56.51 97.64 56.19 C 96.75 56.04 94.72 56.14 93.86 56.39 Z M 30.56 46.69 C 40.04 47.68 47.12 55.8 46.73 65.24 C 46.31 75.18 37.99 82.87 28.11 82.46 C 24.28 82.3 20.71 80.99 17.71 78.65 C 16.63 77.79 14.96 76.04 14.14 74.89 C 10.39 69.59 9.82 62.61 12.66 56.74 C 15.2 51.49 20.22 47.76 25.96 46.84 C 27.16 46.65 29.45 46.58 30.56 46.69 Z M 27.4 56.2 C 24.64 56.68 22.27 58.5 21.11 61.03 C 20.52 62.3 20.33 63.31 20.39 64.89 C 20.42 65.91 20.49 66.41 20.66 66.94 C 21.19 68.6 22.22 70.13 23.48 71.14 C 24.26 71.76 25.69 72.49 26.61 72.75 C 27.51 73 29.54 73.05 30.49 72.85 C 33.81 72.17 36.44 69.52 37.11 66.2 C 37.34 65.1 37.27 63.25 36.97 62.25 C 36.05 59.17 33.56 56.86 30.46 56.24 C 29.65 56.08 28.19 56.06 27.4 56.2 Z" />
                    </svg>
                    <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white ml-2">Rental</span>
                </a>
                <div class="flex items-center lg:order-2">
                    {% if app.user %}
                    <span class="text-sm text-gray-800 dark:text-white mr-2">{{ app.user.email }}</span>
                    {% endif %}

                    <a href="/{{ app.user ? 'logout' : 'login' }}"
                       class="text-gray-800 dark:text-white hover:bg-gray-50 focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-4 lg:px-5 py-2 lg:py-2.5 mr-2 dark:hover:bg-gray-700 focus:outline-none dark:focus:ring-gray-800">
                        {{ app.user ? 'Logout' : 'Login' }}
                    </a>

                    <button data-collapse-toggle="mobile-menu-2" type="button" class="inline-flex items-center p-2 ml-1 text-sm text-gray-500 rounded-lg lg:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="mobile-menu-2" aria-expanded="false">
                        <span class="sr-only">Open main menu</span>
                        <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg>
                        <svg class="hidden w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                    </button>
                </div>
                <div class="items-center justify-between hidden w-full lg:flex lg:w-auto lg:order-1" id="mobile-menu-2">
                    <ul class="flex flex-col mt-4 font-medium lg:flex-row lg:space-x-8 lg:mt-0">
                        <li>
                            <a href="/" class="block py-2 pl-3 pr-4 text-white bg-blue-700 rounded lg:bg-transparent lg:text-blue-700 lg:p-0 dark:text-white" aria-current="page">Home</a>
                        </li>
                        {% if app.user %}
                        <li>
                            <a href="/reservation/create" class="block py-2 pl-3 pr-4 text-gray-700 border-b border-gray-100 hover:bg-gray-50 lg:hover:bg-transparent lg:border-0 lg:hover:text-blue-700 lg:p-0 dark:text-gray-400 lg:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white lg:dark:hover:bg-transparent dark:border-gray-700">
                                Create Reservation
                            </a>
                        </li>
                        {% endif %}

                    </ul>
                </div>
            </div>
        </nav>
    </header>

        {% block body %}{% endblock %}
    </body>
</html>
